.bak{
    background: url(https://cdn.shazoo.ru/c800x360/96049_LxMxtArLhw_hack.jpg);
}
.bak1{
    background: url(https://m.pln24.ru/pictures/121229104844.jpg);
}
.bak2{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6DoVc3-w2rftisn4AB0HvOA5NkG5pdk5OkQ&usqp=CAU);
}
.bak3{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXuvHkJgmI57LbgRLmqC5iD2lSrTXzgRzv_g&usqp=CAU);
}
.bak4{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzN6y3yzUwQinZSDT2phu-ks-27p0jsKB4BA&usqp=CAU);
}